<launch>
 <node pkg="nodelet" type="nodelet" name="multi_plane_estimate"
        args="standalone jsk_pcl/OrganizedMultiPlaneSegmentation"
        clear_params="false">
    <remap from="~input" to="/multisense_local/organized_image_points2_color"/>
    <rosparam>
      max_curvature: 0.01
      estimate_normal: true
      min_size: 100
    </rosparam>
  </node>
</launch>
